body {
    background-color:#d0d2d1;
}
/*Header*/
h1{
    font-family: 'Oxygen', sans-serif;
    text-align: center;
}
h2{
    font-family: 'Mr De Haviland', cursive;
    font-size: 36px;
    text-align: center;
}
/*Navigation*/
.navbar .navbar-nav{
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse{
    text-align: center;
}
/*Jumbotron*/
/*Last of various attempts to overlay text box*/
/*#feelHome #exclusive{
    position: relative;
    width: 100%;
}*/
/*#feelHome #exclusive{
    position:absolute;
    text-align:center;
    top:100px;
    margin:70px;
    letter-spacing:3px;
    font-weight:bold;
    font-size:13px;
    color:white;
}*/
/*Footer panel*/
.panel{
    background-color: #e4e4e4;
}
.panel h1{
    text-align:left;
}
/*Attempt to center text along vertical axis*/
/*.panel p{
    vertical-align: text-bottom;
}*/