body {
    background-color:#d0d2d1;
}
/*Header*/
h1{
    font-family: 'Oxygen', sans-serif;
    text-align: center;
}
h2{
    font-family: 'Mr De Haviland', cursive;
    font-size: 36px;
    text-align: center;
}
/*Navigation*/
.navbar .navbar-nav{
    display: inline-block;
    float: none;
    vertical-align: top;
    /*margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;*/
}
.navbar .navbar-collapse{
    text-align: center;
    /*margin-left:0px;
    margin-right:0px;
    padding-left:0em;
    padding-right:0em;*/
}
/*Jumbotron*/
#feelHome #exclusive{
    position: relative;
    width: 100%;
}
#feelHome #exclusive{
    position:absolute;
    top: 200px;
    left: 0;
    width: 100%
}
/*Footer panel*/
.panel{
    background-color: #e4e4e4;
}
h1.panel{
    text-align:left;
}